.company {
    /**/

    text-align: center;
    font-family: "Noto Serif Lao", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: light;
    font-variation-settings:
        "wdth" 75;
    border: 2px solid #4CAF50;
    padding: 1rem;

}

#carouselExampleCaptions {
    /* Your styles here */
    background-color: #00ffbf;
    /* Background color */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #7171ff;
    /* MEDIA QUERY */
    
    
}

h5,p {
    /*CODIGIO*/
    border: 2px solid #ff0000;

}
@media only screen and (max-width: 1200px){
    /*CODIGO*/
    h5, p {
        /*CODIGIO*/
        display: none;
    }
    #carouselExampleCaptions{
        /*COIGO*/
        width: 75%;
    }
}
/*PRUEBA*/
.d-flex {
    /*CODIGO*/
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 2px solid #ff0000;
}

